body{
    margin: 0px;
}

a{
    color: inherit;
    text-decoration: none;
}

.profile-image{
    object-fit: cover;
    width: 100%;
    height: 250px;
}

#card{
    width: 350px; 
    margin: auto; 
    height: 750px;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
    border-radius: 0 0 15px 15px;
}

#card-header{
    padding: 25px 30px;
}

#biodata{
    padding: 5px 30px;
}

.theme{
    position: fixed;
    left: auto;
    right: 20px;
    top: 20px;
    padding: 5px 15px;
}

#theme-icon{
    width: 20px;
}

.savecontact{
    display: block;
    margin: auto;
    margin-top: 30px;
    padding: 10px 30px;
}

.savecontact:hover, .theme:hover{
    cursor: pointer;
}

.dark{
    background-color: #1f1f1f;
    color: bisque;
}